/***** NAVBAR *****/
.navbar-default {
  background-color: #0388A6;
  border-radius: 0;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #D9564A;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: whitesmoke;
  font-size: 16px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #0388A6;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #D9564A;
  color: #D9564A;
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: #fff;
  border-color: #D9564A;
  border-width: 2px;
  width: 95%;
}

.portfolio-thumbnail:hover {
  border-color: #D9564A;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}

#about-world {
  max-height: 200px;
}

.resume h3 {
  font-weight: bold;
}

hr {
  border-color: whitesmoke;
  border-width: 2px;
}

p {
  font-size: 20px;
}

a {
  color: #D9564A;
}

a:hover {
  color: #D9564A;
}

.jumbotron {
  background-color: #D9564A;
  text-align: left;
  color: whitesmoke;
  padding: 2%;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: bold;
}

.cover {
  padding: 0 1.5rem;
}


body {
  padding-top: 50px;
  font-family: 'Gill Sans', sans-serif;
  background-color: whitesmoke;
  color: #733934;
}
